<%- include header %>
<form method="post">
	Title: <br/>
<input type="text" name="title" value="<%= post.title %>" disable="disable"/><br/>
	Content:<br/>
<textarea name="post" rows="20" cols="100"><%= post.post %></textarea><br/>
<input type="submit" value="Store"/>
</form>
<%- include footer %>